asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
eralchemy==1.5.0
graphviz==0.20.3
greenlet==3.1.1
idna==3.10
pillow==10.4.0
razorpay==1.4.2
requests==2.32.3
setuptools==75.2.0
SQLAlchemy==2.0.36
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
